@font-face {
    font-family: Banny;
    src: url(../fonts/Banny-Round.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    z-index: 54;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

textarea {
    resize: none;
}

.header {
    position: relative;
    z-index: 9999;
}

.nav_item {
    width: 133px;
    height: 100px;
    color: #FFFFFF; 
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav_logo {
    margin-top: 25px;
    margin-right: 35px;
    margin-left: 35px;
}

/* секция промо */

.section_promo {
    position: relative;
    margin-top: -180px;
    padding-top: 350px;
    padding-bottom: 187px;
    background: url('../img/header-bg.png') no-repeat center / cover;
    color: #FFFFFF;
}

.section_promo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.block_promo {
    position: relative
}

.block_text {
    position: relative;
    max-width: 60px;
    width: 100%;
}

.promo_text {
    position: absolute;
    top: 0;
    left: -120px;
    width: 261px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;  
    color: #FFFFFF;
    transform: rotate(-90deg);
}

.promo_main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_subtitle {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.promo_title {
    font-size: 96px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.social_buttons {
    display: flex;
    flex-direction: column;
}

.social_link {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-bottom: 20px;
}

.face {
    background: url('../img/facebook.svg') no-repeat center;
}

.twit {
    background: url('../img/twitter.svg') no-repeat center;
}

.inst {
    background: url('../img/inst.svg') no-repeat center;
}

.social_link:last-child {
    margin-bottom: 0;
}

.button {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    padding-top: 21px;
    padding-bottom: 21px;
    border: none;
    cursor: pointer;
}

.button_promo {
    padding-left: 60px;
    padding-right: 60px;
}

.button_primary {
    background: #E8C300;
    border-radius: 5px;
    text-transform: uppercase;
}

.button_secondary {
    margin-left: 38px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.link_down {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: -10px;
    left: 50%;
    bottom: -94px;
    background: #fff url(../img/arrowDown.svg) no-repeat center;
    border-radius: 50%;
}

.link_down::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: -25%;
    left: -25%;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));   
}

.title {
    position: relative;
    font-family: Banny;
}

.title::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: -25px; 
    width: 60px;
    height: 5px;
    background: #E8C300;
    border-radius: 50px;
}

.section_about-us {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_text {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.block_img {
    position: relative;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: start;
}

.block_img::after {
    content: "";
    border: 20px solid #E8C300;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    margin-top: -125px;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    right: 0;
}

.about-us_img {
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
}

.section_title {
    font-size: 36px;
    text-transform: uppercase;
}

.block_text-subtitle {
    margin-top: 40px;
    font-size: 18px;
    line-height: 28px;
    z-index: 1;
}

.block_text-desc {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    z-index: 1;
}

.section_master-chef {
    background: url(../img/chef-bg.png) no-repeat center / cover;
    padding-bottom: 100px;
}

.section_master-chef::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 679px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.chef_subtitle-container {
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    position: relative;
}

.chef_subtitle {
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
    letter-spacing: 0.5em;
}

.chef_subtitle-container {
    z-index: 1;
}

.alt {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title_banny {
    font-family: Banny;
    font-weight: normal;
}

.block_img_alt {
    position: relative;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.block_img_alt::after {
    content: "";
    border: 20px solid #E8C300;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    margin-top: -125px;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
}

.section_book {
    padding-top: 100px;
}

.section_form {
    max-width: 565px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input_form {
    width: 48%;
    height: 60px;
    background: #E5E5E5;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 5px;
    text-indent: 20px;
    appearance: none;
}

.select_form {
    background: #E5E5E5 url(../img/arrowDown.svg) no-repeat 240px;
}

.button_form {
    width: 100%;
}

.time_text {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;    
    color: rgba(51, 51, 51, 0.5);
    border-radius: 5px;
}

.time_container {
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.section_chocolate {
    background: url(../img/specialtys_bg.png) no-repeat center / cover;
}

.section_chocolate::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 679px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.slider_container {
    padding-top: 45px;
    padding-bottom: 45px;
    justify-content: center;
}

.slider {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-right: 20px;
}

.slider_selected {
    background: #FFFFFF;
}

/* delicious-menu */

.delicious-menu {
    padding-top: 100px;
    padding-bottom: 100px;
}

.block_delicious_text {
    margin: auto;
}

.delicious_menu-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.menu_item {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    padding: 20px 40px;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
}

.menu_item:last-child {
    border-right: none;
}

.menu_item {
    text-decoration: none;
}

.menu_products {
    display: flex;
    margin-top: 50px;
}

.product {
    margin-right: 95px;
}

.column_3 .product {
    margin-right: 0;
}

.product_name {
    font-family: Banny;
    font-size: 18px;
    line-height: 18px;
    color: #333333;
}

.product_desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 35px;
}

.section_events {
    background: url(../img/specialtys_bg.png) no-repeat center / cover;
    position: relative;
}

.section_events:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 681px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.events_text-container {
    position: relative;
}

.events_text {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    z-index: 1;
}

.description_img{
    position: absolute;
    background: #000000;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    width: 476px;
    height: 80px;
    top: 197px;
    left: 325px;
    justify-content: start;
    padding-left: 20px;
}

.description_text{
    z-index: 999;
    text-transform: uppercase;
    font-family: Banny;
    font-size: 24px;
    line-height: 12px;
    color: #FFFFFF;
}

.description_img1{
    position: absolute;
    background: #000000;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    width: 476px;
    height: 80px;
    top: 197px;
    right: 325px;
    justify-content: start;
    padding-left: 20px;
}

.random_imgs-container {
    display: flex;
    justify-content: center;
}

.random_img {
    width: 480px;
    height: 480px;
}

.section_contact {
    padding: 100px 80px;
}

.title_bold {
    font-weight: bold;
}

.contact_input {
    max-width: 420px;
    width: 100%;
    margin-right: 10px;
}

.before_message {
    margin-right: 0;
}

.contact_form {
    max-width: 1280px;
    width: 100%;
    height: 120px;
    padding-top: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
}

.form_contact_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.addres-and-button_container {
    display: flex;
    justify-content: space-between;
}

.addres_container {
    display: flex;
    align-items: center;
}

.text_contact {
    font-size: 12px;
    line-height: 12px;
    color: rgba(51, 51, 51, 0.5);
}

.contact_img {
    max-width: 15px;
    margin-right: 5px;
}

.button_contact {
    max-width: 640px;
}

.footer {
    padding: 44px 0;
    background: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
}

.copyright {
    font-size: 12px;
    line-height: 12px; 
}